<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.shop.mapper.InvoiceMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.shop.domain.Invoice">
    <id column="id" property="id" />
    <result column="invoice_type" property="invoiceType" />
    <result column="invoice_head" property="invoiceHead" />
    <result column="user_id" property="userId" />
    <result column="order_id" property="orderId" />
    <result column="invoice_content" property="invoiceContent" />
    <result column="invoice_phone" property="invoicePhone" />
    <result column="invoice_email" property="invoiceEmail" />
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from invoice
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into invoice (invoice_type, invoice_head, user_id, order_id, invoice_content, 
      invoice_phone, invoice_email)
    values (#{invoiceType}, #{invoiceHead}, #{userId}, #{orderId}, #{invoiceContent}, 
      #{invoicePhone}, #{invoiceEmail})
  </insert>
  <update id="updateByPrimaryKey">
    update invoice
    set invoice_type = #{invoiceType},
      invoice_head = #{invoiceHead},
      user_id = #{userId},
      order_id = #{orderId},
      invoice_content = #{invoiceContent},
      invoice_phone = #{invoicePhone},
      invoice_email = #{invoiceEmail}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, invoice_type, invoice_head, user_id, order_id, invoice_content, invoice_phone, 
    invoice_email
    from invoice
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, invoice_type, invoice_head, user_id, order_id, invoice_content, invoice_phone, 
    invoice_email
    from invoice
  </select>
</mapper>