<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.shop.mapper.ProductSkuPropertyMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.shop.domain.ProductSkuProperty">
    <id column="id" property="id" />
    <result column="product_sku_id" property="productSkuId" />
    <result column="value" property="value" />
    <result column="image" property="image" />
    <association property="skuProperty" column="sku_property_id"
                 select="cn.wolfcode.shop.mapper.SkuPropertyMapper.selectByPrimaryKey"/>
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from product_sku_property
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into product_sku_property (product_sku_id, sku_property_id, value, image)
    values (#{productSkuId}, #{skuProperty.id}, #{value}, #{image})
  </insert>
  <update id="updateByPrimaryKey">
    update product_sku_property
    set product_sku_id = #{productSkuId},
      sku_property_id = #{skuProperty.id},
      value = #{value},
      image = #{image}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, product_sku_id, sku_property_id, value, image
    from product_sku_property
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, product_sku_id, sku_property_id, value, image
    from product_sku_property
  </select>

  <select id="selectByProductSkuId" resultMap="BaseResultMap">
    select id, product_sku_id, sku_property_id, value, image
    from product_sku_property
    where product_sku_id = #{id}
  </select>



</mapper>