<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.shop.mapper.ProductImageMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.shop.domain.ProductImage">
    <id column="id" property="id" />
    <result column="product_id" property="productId" />
    <result column="image_path" property="imagePath" />
    <result column="sort" property="sort" />
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from product_image
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into product_image (product_id, image_path, sort)
    values (#{productId}, #{imagePath}, #{sort})
  </insert>
  <update id="updateByPrimaryKey">
    update product_image
    set product_id = #{productId},
      image_path = #{imagePath},
      sort = #{sort}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, product_id, image_path, sort
    from product_image
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, product_id, image_path, sort
    from product_image
  </select>
</mapper>