<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.shop.mapper.PropertyValueMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.shop.domain.PropertyValue">
    <id column="id" property="id" />
    <result column="property_id" property="propertyId" />
    <result column="value" property="value" />
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from property_value
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into property_value (property_id, value)
    values (#{propertyId}, #{value})
  </insert>
  <update id="updateByPrimaryKey">
    update property_value
    set property_id = #{propertyId},
      value = #{value}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, property_id, value
    from property_value
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, property_id, value
    from property_value
  </select>

  <select id="getByPropertyId" resultMap="BaseResultMap">
    select id, property_id, value
    from property_value
    where property_id = #{propertyId}
  </select>
</mapper>